{{ define "comment" }}
	<article class="uk-comment" role="comment">
		<header class="uk-comment-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
            {{ template "userIcon" dict "Username" .User.Username "Dimensions" "40" }}
				</div>
				<div class="uk-width-expand">
					<h3 class="uk-card-title uk-text-default uk-margin-remove-bottom text-overflow-dots">
              {{ .User.Username }}
					</h3>
					<p class="uk-text-meta uk-margin-remove-top">
						<time datetime="{{ .CreatedAt }}">{{ .CreatedAt.Format "02 Jan, 2006" }}</time>
					</p>
				</div>
			</div>
		</header>
		<div class="uk-comment-body">
			<p>{{ .Body }}</p>
		</div>
	</article>
{{ end }}
