<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li class="uk-active">
				<a href="/">Shutterbug</a>
			</li>
		</ul>
	</div>

	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li>
				<a href="#">Account</a>
				<div class="uk-navbar-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li>
							<a href="/settings">
								<span class="uk-margin-small-right" uk-icon="settings"></span> Instellingen
							</a>
						</li>
						<li>
							<a href="/logout">
								<span class="uk-margin-small-right" uk-icon="sign-out"></span> Uitloggen
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="uk-flex uk-flex-middle">
				<div>
					<span uk-icon="bell"></span>
					<div class="uk-card uk-card-body uk-card-default" uk-drop="mode: click;pos: bottom-right">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
