{{ define "post" }}
	<div>
		<div class="uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
              {{ template "userIcon" dict "Username" .Post.User.Username "Dimensions" "40" }}
					</div>
					<div class="uk-width-expand">
						<h3 class="uk-card-title uk-text-default uk-margin-remove-bottom text-overflow-dots">
                {{ .Post.User.Username }}
						</h3>
						<p class="uk-text-meta uk-margin-remove-top">
							<time datetime="{{ .Post.CreatedAt }}">{{ .Post.CreatedAt.Format "02 Jan, 2006" }}</time>
						</p>
					</div>
            {{ if canDeletePost .Post .UserID }}
							<div class="uk-width-auto uk-margin-auto-left">
								<button class="uk-icon-link uk-button uk-button-text" type="button">
									<span uk-icon="more"></span>
								</button>
								<div uk-dropdown="pos: bottom-left">
									<ul class="uk-nav uk-dropdown-nav">
										<li>
											<a href="#" data-delete-post="{{ .Post.ID }}">
												<span class="uk-margin-small-right" uk-icon="trash"></span> Verwijderen
											</a>
										</li>
									</ul>
								</div>
							</div>
            {{ end }}
				</div>
			</div>

			<div uk-lightbox>
				<a class="uk-inline" href="/{{ .Post.Filepath }}" data-caption="{{ .Post.Caption }}">
					<img src="/{{ .Post.Filepath }}" width="1800" height="1200" alt="">
				</a>
			</div>

			<div class="uk-card-body uk-padding-small">
				<div class="post-actions">
					<button class="post-action {{ if userLikedPost $.UserID .Post }}active{{ end }}"
									data-like-post="{{ .Post.ID }}">
						<span uk-icon="icon: triangle-up"></span>
						<span data-like-count>
            	{{ len .Post.Likes }}
						</span>
					</button>
					<hr class="uk-divider-vertical">
					<button class="post-action active" uk-toggle="target: #offcanvas-comments-{{ .Post.ID }}">
						<span uk-icon="icon: comments"></span>
              {{ len .Post.Comments }}
					</button>
				</div>
				<p class="text-overflow-dots">{{ .Post.Caption }}</p>
			</div>

		</div>
	</div>

	<div id="offcanvas-comments-{{ .Post.ID }}" uk-offcanvas="flip: true">
		<div class="uk-offcanvas-bar">
			<button class="uk-offcanvas-close" type="button" uk-close></button>

			<h3 class="uk-margin-small-bottom">Post van {{ .Post.User.Username }}</h3>
			<p class="uk-margin-remove-top">{{ .Post.Caption }}</p>
			<hr>
        {{ range .Post.Comments }}
            {{ template "comment" dict "Post" . "UserID" $.UserID }}
						<hr>
        {{ end}}
			<form data-comment-post>
				<input type="hidden" name="postId" value="{{ .Post.ID }}">
				<div class="uk-margin">
					<label class="uk-form-label" for="comment-body">Schrijf een comment</label>
					<textarea required class="uk-textarea" name="body" id="comment-body"></textarea>
				</div>
				<button class="uk-button uk-button-text">Plaats comment</button>
			</form>
		</div>
	</div>
{{ end }}
