{{ define "content" }}

	<h1>{{ .group.Name }}</h1>
	<div>
		<ul class="uk-tab" data-uk-tab="{connect:'#group-tabs'}">
			<li class="uk-active"><a>Foto's</a></li>
			<li><a>Vrienden</a></li>
		</ul>
		<ul id="group-tabs" class="uk-switcher uk-margin">
			<li>
				<a href="#create-post" uk-toggle>Post maken</a>
				Images
			</li>
			<li>
				<div class="uk-column-1-2@s">
					<h5>Vrienden</h5>
					<ul class="uk-list">
              {{ range .group.Users }}
								<li>{{ .Email }}</li>
              {{ end }}
					</ul>

					<h5>Uitgenodigd</h5>
					<ul class="uk-list">
              {{ range .group.GroupInvites }}
								<li>{{ .InviteeEmail }}</li>
              {{ end }}
					</ul>
				</div>

				<h5>Nieuwe vrienden toevoegen</h5>
				<form data-group="{{ .group.ID }}" data-invite-form>
					<div class="uk-margin-small">
						<label class="uk-form-label" for="email">Email</label>
						<input class="uk-input uk-form-small" type="email" name="email" id="email" required>
					</div>
					<button class="uk-button uk-button-small uk-button-primary" type="submit">Uitnodigen</button>
				</form>
			</li>
		</ul>
	</div>

	<div id="create-post" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Post maken</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.</p>
			<p class="uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
				<button class="uk-button uk-button-primary" type="button">Save</button>
			</p>
		</div>
	</div>

{{ end }}
