{{ define "content" }}

<h1>Jouw groepen</h1>
{{ include "partials/menu" }}

<a href="/group/create">Groep aanmaken</a>
<div class="uk-grid-match uk-grid-small uk-child-width-expand@s" uk-grid>
	{{ range .user.Groups }}
	<div>
		<a class="uk-card uk-card-default uk-card-body uk-link-toggle" href="/group/{{ .ID }}">
			<span class="uk-card-badge uk-label">9 foto's</span>
			<h3 class="uk-card-title uk-link-heading">{{ .Name }}</h3>
			{{ if .Description }}
			<p>
				{{ .Description }}
			</p>
			{{ end }}
		</a>
	</div>
	{{ end }}
</div>

{{ end }}
