{{ define "content" }}

	<h1 class="uk-text-large uk-margin-remove-top">Jouw groepen</h1>

	<a href="/group/create">Groep aanmaken</a>
	<div class="uk-column-1-2@m">
      {{ range .user.Groups }}
				<div>
					<a class="uk-card uk-card-default uk-card-body uk-link-toggle uk-margin-medium-bottom"
						 href="/group/{{ .ID }}">
						<span class="uk-card-badge uk-label">{{ len .Posts }} foto's</span>
						<h3 class="uk-card-title uk-link-heading">{{ .Name }}</h3>
              {{ if .Description }}
								<p>
                    {{ .Description }}
								</p>
              {{ end }}
					</a>
				</div>
      {{ end }}
	</div>

{{ end }}
