.text-overflow-dots {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}

.footer-icon {
	margin: 0 .2rem;
	display: inline-block;
	animation: heartbeat 2s ease-in-out alternate infinite;
}

@keyframes heartbeat {
	from {
		scale: 1;
	}
	to {
		scale: 1.3;
	}
}
